PORT=3000

BLOXBLITZ_URL=https://bloxblitz.com

HEADLESS=true

CHECK_INTERVAL_MS=750

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1537186818162827334/UwSP6qKNLesJmxSeSPRfh0xvF-ztb7WFbmKSOOiSMr19xXKlDgLekf8_M9pBMPV8qF5G

AGENT_KEY=99578662888

DASHBOARD_URL=https://rainbot-production-23e7.up.railway.app
